.card {
  padding: 20px;
  margin: 50px;
}
.card img {
  width: 200px;
  height: 200px;
  margin: 15px auto;
  transition: 0.3s ease-in-out;
}
.card img:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}
.noResults{
  width: 500px;
  /* border: 1px solid red; */
  margin: 20px auto;
  padding: 50px;
  background-color: rgb(215, 211, 211);

}