footer{
  position: relative;
  bottom: 0px;
  /* width: 100%;
  margin: 0; */
}
.footer_div {
  height: 347px;
  /* border:2px solid red; */
  display: block;
  background-color: #172337;
  padding: 0;
}
.nav-item {
  margin-left: 20px;
}
.footer_div {
  height: 347px;
  /* border:2px solid red; */
  display: block;
  background-color: #172337;
  padding: 0;
}