<!-- <div class="container my-5 mx-auto bg-light rounded p-5">
  <h2>Seller Signup</h2>
  <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)">
    <div class="mb-3">
      <label for="exampleInputName" class="form-label">Name</label>
      <input type="text" class="form-control" id="exampleInputName" name="name" ngModel>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" name="email"  ngModel >
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="password" ngModel>
    </div>
     <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
    <!-- <button class="btn btn-primary mt-3">SignUp</button>
  </form>
</div> 
 -->
