<ng-container *ngIf="cartData.length!==0">
<div class="cart_page container">
  <h2>Cart Page</h2>
  <div class="row">
    <div class="col-sm-9 details">
      <ul *ngFor="let cartItem of cartData" class="mt-3">
        <li>
          <img src="{{cartItem.image}}" width="100px">
        </li>
        <li>
          <span class="title">{{cartItem.title}}</span>
        </li>
        <li>
          <span>Price: {{cartItem.price}}</span>
        </li>
        <li>
          <span>Quantity: {{cartItem.quantity}}</span>
        </li>
        <li>
          <button class="btn btn-outline-primary">Remove Item</button>
        </li>
      </ul>

      
    </div>
    <div class="col-sm-3 summary">
      <h3 class="text-center">Summary</h3>
      <ul>
        <li>
          <span>Amount:</span><span>{{priceSummary.price}}</span>
        </li>
        <li>
          <span>Tax:</span><span>{{priceSummary.tax}}</span>
        </li>
        <li>
          <span>Delivery:</span><span>{{priceSummary.delivery}}</span>
        </li>
        <li>
          <span>Discount:</span><span>{{priceSummary.discount}}</span>
        </li>
        <li>
          <span><h4>Total:</h4></span><span><h4>{{priceSummary.total}}</h4></span>
        </li>
      </ul>
    </div>
  </div>
</div>
</ng-container>
<ng-container *ngIf="cartData.length == 0">
  <div class="container mb-5">
    <div class="card">
      <h5 class="card-title">My Cart</h5>
    </div>
    <div class="center">
      <img src="../../../assets/myImages/emptyCart.png" alt="">
      <h4>Your cart is empty!</h4>
      <h6>Add items to it now</h6>
      <button routerLink="/products" class="btn btn-primary">Shop Now</button>
    </div>
  </div>
</ng-container>
