<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary bg-primary shadow-sm">
    <div class="container">
      <div class="d-flex flex-column">
        <a class="navbar-brand m-0 p-0" href="#"><img src="../../../assets/myImages/Flipkart.png" height="23px"></a>
        <a class="navbar-brand m-0 p-0 explore" href="#"><img src="../../../assets/myImages/FlipkartExpl.png" height="16px"></a>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search products">
      </div>
      <span>
        <i class="fa-solid fa-magnifying-glass"></i>
      </span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
        </ul> -->
      </div>
      <div>
        <button routerLink ="cart" class="btn btn-primary"><i class="fa-solid fa-cart-shopping me-2"></i>Cart</button>
        <div class="badge rounded-pill text-bg-danger"><span style="font-size :'14px'">{{totalItems}}</span></div>
        <!-- <span class="text-light fw-bold"><i class="fa-solid fa-cart-shopping me-2"></i>Cart</span> -->
        
      </div>
    </div>
  </nav>
</header>