<app-card-top></app-card-top>
<div class="container-fluid ">
  <div class="container ">
    <div class="row">
      <ng-container *ngFor="let product of productList">
        <div class="card col-md-3">
          <a routerLink="/details/{{product.id}}">
            <img src="{{product.image}}">
          </a>
          <h5 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;"><a routerLink="/details/{{product.id}}"> {{product.title}}> </a></h5>
          <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">{{product.description}}</p>
          <p><strong>Price: </strong>${{product.price}}</p>
          <!-- <button class="btn btn-warning mb-2">View Details</button> -->
          <!-- <button class="btn btn-primary" (click)="addtocart(product)">Add to Cart</button> -->
          <!-- <button class="btn btn-outline-primary">Add to Cart</button> -->
        </div>
      </ng-container>
    </div>
  </div>
</div>